.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgb(29, 140, 29), rgb(110, 185, 80));
  text-shadow: 0 0 5px black;
  font-size: 2em;
  text-align: center;
  color: white;
}
